<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar" [ngClass]="status ? 'active' : ''">
        <div class="sidebar-header">
            <h3>{{ 'MENU.TITLE' | translate }}</h3>
        </div>

        <ul class="list-unstyled components">
            <p>{{ 'MENU.SUBTITLE' | translate }}</p>
            <li routerLinkActive="active">
                <a routerLink="/home"><i class="material-icons">home</i>{{ 'MENU.HOME' | translate }}</a>

            </li>
            <li routerLinkActive="active">
                <a routerLink="/newrequest"><i class="material-icons">fiber_new</i>{{ 'MENU.NEW-REQUEST' | translate }}</a>

            </li>
            <li routerLinkActive="active">
                <a href="#"><i class="material-icons">list</i>{{ 'MENU.REQUEST-INPROGRESS' | translate }}</a>
            </li>
            <li routerLinkActive="active">
                <a href="#"><i class="material-icons">done</i>{{ 'MENU.REQUEST-DONE' | translate }}</a>
            </li>
            <li routerLinkActive="active">
                <a href="#"><i class="material-icons">assignment</i>{{ 'MENU.MYTODO' | translate }}</a>
            </li>
            <li routerLinkActive="active">
                <a href="#"><i class="material-icons">assessment</i>{{ 'MENU.REPORTS' | translate }}</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="material-icons">language</i> {{ 'MENU.HOME-LANG' | translate }}</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a *ngFor="let lang of translate.getLangs()" class="dropdown-item" (click)="translate.use(lang)">{{ lang }}</a>
                    </li>

                </ul>
            </li>

        </ul>

        <ul class="list-unstyled CTAs">

            <li>
                <a class="article"><i class="material-icons">exit_to_app</i>{{ 'MENU.LOGOUT' | translate }}</a>
            </li>
        </ul>
    </nav>

    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="navbar-btn" (click)="clickEvent()" [ngClass]="status ? 'active' : ''">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                <div class="col">
                    <div class="float-right"><button class="btn" routerLink="/delegation"><i class="material-icons">settings_applications</i>{{ 'MENU.SETTINGS' | translate }}</button></div>
                </div>
                <!--    <div>
                    <h2>{{ 'HOME.TITLE' | translate }}</h2>
                    <label>{{ 'HOME.SELECT' | translate }}
                    <select #langSelect (change)="translate.use(langSelect.value)">
                           <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
                    </select>
                    </label>
                </div> -->

            </div>
        </nav>
        <div class="card-columns">
            <!--  <div class="col-md-6 col-sm-6 col-lg-4 " *ngFor="let process of processCategory">
                <div class="card margin-card">
                    <img class="card-img-top " src="{{process.imgsource}} " alt="Card image cap ">
                    <div class="card-body ">
                        <h5 class="card-title">{{process.title}}</h5>
                        <p class="card-text "> {{process.subtitle}} </p>
                        <a routerLink="/processlist">link</a>
                    </div>
                </div>
            </div> -->
            <div class="col-xl col-md-12 col-lg-12 col-sm-6 pb-3" *ngFor="let process of processCategory">
                <div class="card  h-100" routerLink="/forms">
                    <!-- -->
                    <div class="row h-100 no-gutters">
                        <div class="col-6 p-3">
                            <h3>{{process.title}}</h3>
                            <h5>{{process.subtitle}}</h5>
                            <!--  <button type="button" class="btn btn-primary">Primary</button> -->
                        </div>
                        <div class="col bg-inverse text-white d-flex">
                            <h1 class="mx-auto align-self-center">
                                <i class="material-icons dark-purple icon-size">assessment</i>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
