.logo-card {
    width: 50%;
}

.title-card {
    margin-bottom: 2rem;
}

.sub-title-card {
    margin-top: 1rem;
}

.card-body-top {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding-top: 1.25rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
}

.space-card {
    margin-bottom: 5rem;
}