<div class="container space-card">
    <h3 class="dark-purple title-card">{{ 'CARD.CARD-TITLE' | translate }}</h3>
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-4 margin-card">
            <div class="card bg-light">

                <div class="card-body-top">
                    <h5 class="card-title grey">{{ 'CARD.TITLE-REQUESTED' | translate }}</h5>
                    <h4 class="card-subtitle  sub-title-card">246</h4>

                </div>
                <div class="float-right "> <img class=" logo-card float-right" src="../../assets/bleubar.png" alt="Card image cap"></div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 margin-card">
            <div class="card bg-light">
                <div class="card-body-top">
                    <h5 class="card-title grey">{{ 'CARD.TITLE-PROGRESS' | translate }}</h5>
                    <h4 class="card-subtitle  sub-title-card">100</h4>
                </div>
                <div class="float-right "> <img class="logo-card float-right" src="../../assets/purplebar.png" alt="Card image cap"></div>
            </div>

        </div>

        <div class="col-12 col-sm-6 col-lg-4 margin-card">
            <div class="card bg-light">
                <div class="card-body-top">
                    <h5 class="card-title grey">{{ 'CARD.TITLE-DONE' | translate }}</h5>
                    <h4 class="card-subtitle sub-title-card">50</h4>
                </div>
                <div class="float-right "><img class=" logo-card float-right" src="../../assets/greenbar (1).png" alt="Card image cap"></div>
            </div>

        </div>






    </div>
</div>
