.white {
    background-color: white;
}

.red {
    color: #d32f2f;
    font-size: larger;
    font-weight: bolder;
}

.green {
    color: #00c853;
    font-size: larger;
    font-weight: bolder;
}

.yellow {
    color: #fdd835;
    font-size: larger;
    font-weight: bolder;
}

.no {}