<div class="sidenav">
    <div class="login-main-text">
        <h2>ADF<br></h2>
        <p>Welcome back! Please login to your account..</p>
    </div>
</div>
<div class="main">
    <div class="col-md-9 col-sm-12 align-self-center">
        <div class="login-form ">
            <img src="../../assets/Djezzy_logo.png" class="rounded main-logo" alt="...">
            <form>
                <div class="form-group">
                    <label></label>
                    <input type="text" class="form-control border-0" placeholder="UserName">
                </div>
                <div class="form-group">
                    <label></label>
                    <input type="password" class="form-control border-0" placeholder="Password">
                </div>
                <button type="button" class="btn btn-purple btn-lg btn-block">Login</button>
            </form>
        </div>
    </div>
</div>
