            body {
                font-family: "Lato", sans-serif;
            }
            
            .main-head {
                height: 150px;
                background: #FFF;
            }
            
            .sidenav {
                height: 100%;
                //background-color: #000;
                background-image: url("../../assets/loginback.png");
                overflow-x: hidden;
                padding-top: 20px;
            }
            
            .main {
                padding: 0px 10px;
            }
            /* .main-logo {
    width: 11rem;
    margin-left: 7rem;
}
 */
            
            @media screen and (max-height: 450px) {
                .sidenav {
                    padding-top: 15px;
                }
            }
            
            @media screen and (max-width: 450px) {
                .login-form {
                    margin-top: 10%;
                }
                .register-form {
                    margin-top: 10%;
                }
            }
            
            @media screen and (min-width: 768px) {
                .main {
                    margin-left: 55rem;
                }
                .sidenav {
                    width: 40%;
                    position: fixed;
                    z-index: 1;
                    top: 0;
                    left: 0;
                }
                .login-form {
                    margin-top: 40%;
                }
                .register-form {
                    margin-top: 20%;
                }
            }
            
            .login-main-text {
                margin-top: 20%;
                padding: 60px;
                color: #fff;
            }
            
            .login-main-text h2 {
                font-weight: 300;
            }
            
            .btn-purple {
                background-color: #43425D !important;
                color: #fff;
            }
            
            // Extra small devices (portrait phones, less than 576px)
            @media (max-width: 575.98px) {
                .main-logo {
                    width: 5rem;
                    margin-left: 7rem;
                }
            }
            
            // Small devices (landscape phones, 576px and up)
            @media (min-width: 576px) and (max-width: 767.98px) {
                .main-logo {
                    width: 11rem;
                    margin-left: 7rem;
                }
            }
            
            // Medium devices (tablets, 768px and up)
            @media (min-width: 768px) and (max-width: 991.98px) {
                .main-logo {
                    width: 11rem;
                    margin-left: 7rem;
                }
            }
            
            // Large devices (desktops, 992px and up)
            @media (min-width: 992px) and (max-width: 1199.98px) {
                .main-logo {
                    width: 11rem;
                    margin-left: 7rem;
                }
            }
            
            // Extra large devices (large desktops, 1200px and up)
            @media (min-width: 1200px) {
                .main-logo {
                    width: 11rem;
                    margin-left: 7rem;
                }
            }