<h4 class="dark-purple title-card">
    {{ 'MENU.REQUEST-INPROGRESS' | translate }}</h4>



<form>
    <div class="form-group form-inline">
        {{ 'TASKSLIST.SEARCH' | translate }} <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm" />
        <span class="ml-3" *ngIf="service.loading$ | async">{{ 'TASKSLIST.LOADING' | translate }}</span>
        <div class="col">
            <ng-template #popContent>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultUnchecked1" name="defaultExampleRadios" value="1">
                    <label class="custom-control-label" for="defaultUnchecked1"> {{ 'TASKSLIST.FILTER1' | translate }}</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultUnchecked2" name="defaultExampleRadios" value="2">
                    <label class="custom-control-label" for="defaultUnchecked2"> {{ 'TASKSLIST.FILTER2' | translate }}</label>
                </div>
                <div class="float-right  mr-4 mb-1 mt-1">
                    <button type="button" class="btn btn-primary" (click)="p.close()">
                            {{ 'TASKSLIST.FILTERBTN' | translate }}
                 </button>
                </div>
            </ng-template>
            <div class="float-right">
                <button type="button" class="btn btn-outline-secondary mr-2" [ngbPopover]="popContent" placement="left" [autoClose]="false" triggers="manual" #p="ngbPopover" (click)="p.open()" popoverTitle="{{ 'TASKSLIST.POPUPTITLE' | translate }}">{{ 'TASKSLIST.FILTER' | translate }}<i class="material-icons ">filter_list</i></button></div>
        </div>
    </div>


    <table class="table table-light">
        <thead>
            <tr>
                <th scope="col" class="card-title grey">#</th>
                <th scope="col" sortable="initator" (sort)="onSort($event)" class=" card-title grey ">{{ 'TASKSLIST.INITIATOR' | translate }} <i class="material-icons ">unfold_more</i></th>
                <th scope="col " sortable="process " (sort)="onSort($event) " class="card-title grey ">{{ 'TASKSLIST.PROCESS' | translate }} <i class="material-icons ">unfold_more</i></th>
                <th scope="col " sortable="description " (sort)="onSort($event) " class="card-title grey ">{{ 'TASKSLIST.DESCRIPTION' | translate }} <i class="material-icons ">unfold_more</i></th>
                <th scope=" col " sortable="initDate " (sort)="onSort($event) " class="card-title grey ">{{ 'TASKSLIST.INITDATE' | translate }} <i class="material-icons ">unfold_more</i></th>
                <th scope="col " sortable="slaDate " (sort)="onSort($event) " class="card-title grey ">{{ 'TASKSLIST.SLA' | translate }}<i class="material-icons ">unfold_more</i></th>
                <th scope="col " sortable="action " (sort)="onSort($event) " class="card-title grey ">{{ 'TASKSLIST.ACTION' | translate }} <i class="material-icons ">unfold_more</i></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks$ | async ">
                <th scope="row ">{{ task.id }}</th>
                <td attr.data-column="{{ 'TASKSLIST.INITIATOR' | translate }}">
                    <ngb-highlight [result]="task.initator" [term]="service.searchTerm"></ngb-highlight>
                </td>
                <td attr.data-column="{{ 'TASKSLIST.PROCESS' | translate }}">
                    <ngb-highlight [result]="task.process " [term]="service.searchTerm"></ngb-highlight>
                </td>
                <td attr.data-column="{{ 'TASKSLIST.DESCRIPTION' | translate }}">
                    <ngb-highlight [result]="task.description "></ngb-highlight>
                </td>
                <td attr.data-column="{{ 'TASKSLIST.DESCRIPTION' | translate }}">
                    <ngb-highlight [result]="task.initDate " [term]="service.searchTerm"></ngb-highlight>
                </td>
                <td attr.data-column="{{ 'TASKSLIST.SLA' | translate }}">
                    <ngb-highlight [result]="task.slaDate "></ngb-highlight>
                </td>
                <td attr.data-column="{{ 'TASKSLIST.ACTION' | translate }}">
                    <ngb-highlight [result]="task.action "></ngb-highlight>
                    <!--  <button type="button " class="btn btn-primary "><i class="material-icons ">remove_red_eye</i></button> -->
                    <button type="button " class="btn green"><i class="material-icons ">check_circle</i>{{ 'TASKSLIST.VALIDATE' | translate }}</button>
                    <button type="button " class="btn red"><i class="material-icons ">clear</i>{{ 'TASKSLIST.REJECT' | translate }}</button>
                    <button type="button " class="btn grey-color"><i class="material-icons ">add_box</i>{{ 'TASKSLIST.DETAILS' | translate }}</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between p-2 ">
        <ngb-pagination [collectionSize]="total$ | async " [(page)]="service.page " [pageSize]="service.pageSize ">
        </ngb-pagination>

        <select class="custom-select " style="width: auto " name="pageSize " [(ngModel)]="service.pageSize ">
      <option [ngValue]="5 ">5 {{ 'TASKSLIST.ITEMS' | translate }} </option>
      <option [ngValue]="10 ">10 {{ 'TASKSLIST.ITEMS' | translate }} </option>
      <option [ngValue]="25 ">25 {{ 'TASKSLIST.ITEMS' | translate }} </option>
    </select>
    </div>

</form>
