<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar" [ngClass]="status ? 'active' : ''">
        <div class="sidebar-header">
            <h3>{{ 'MENU.TITLE' | translate }}</h3>
        </div>

        <ul class="list-unstyled components">
            <p>{{ 'MENU.SUBTITLE' | translate }}</p>
            <li routerLinkActive="active">
                <a routerLink="/home"><i class="material-icons">home</i>{{ 'MENU.HOME' | translate }}</a>

            </li>
            <li routerLinkActive="active">
                <a routerLink="/newrequest"><i class="material-icons">fiber_new</i>{{ 'MENU.NEW-REQUEST' | translate }}</a>

            </li>
            <li routerLinkActive="active">
                <a routerLink="/myrequest"><i class="material-icons">list</i>{{ 'MENU.REQUEST-INPROGRESS' | translate }}</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/myrequestdone" routerLinkActive="router-link-active"><i class="material-icons">done</i>{{ 'MENU.REQUEST-DONE' | translate }}</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/mytodo"><i class="material-icons">assignment</i>{{ 'MENU.MYTODO' | translate }}</a>
            </li>
            <li routerLinkActive="active">
                <a href="#"><i class="material-icons">assessment</i>{{ 'MENU.REPORTS' | translate }}</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/delegation"><i class="material-icons">settings_applications</i>{{ 'MENU.SETTINGS' | translate }}</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="material-icons">language</i> {{ 'MENU.HOME-LANG' | translate }}</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a *ngFor="let lang of translate.getLangs()" class="dropdown-item" (click)="translate.use(lang)">{{ lang }}</a>
                    </li>

                </ul>
            </li>

        </ul>

        <ul class="list-unstyled CTAs">

            <li>
                <a class="article" routerLink="/login"><i class="material-icons">exit_to_app</i>{{ 'MENU.LOGOUT' | translate }}</a>
            </li>
        </ul>
    </nav>

    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="navbar-btn" (click)="clickEvent()" [ngClass]="status ? 'active' : ''">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                <div class="col">
                    <div class="float-right"><button class="btn" routerLink="/delegation"><i class="material-icons">settings_applications</i></button></div>
                </div>
                <!--    <div>
                    <h2>{{ 'HOME.TITLE' | translate }}</h2>
                    <label>{{ 'HOME.SELECT' | translate }}
                    <select #langSelect (change)="translate.use(langSelect.value)">
                           <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
                    </select>
                    </label>
                </div> -->

            </div>
        </nav>
        <form>
            <h3 class="dark-purple title-card">{{ 'DELEGATION.DELEGATE' | translate }}</h3>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputEmail4">{{ 'DELEGATION.NAME' | translate }}</label>
                    <input type="email" class="form-control" id="inputEmail4" value="name" #box (keyup)="0" placeholder="{{ 'DELEGATION.NAME' | translate }}">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputEmail5">{{ 'DELEGATION.FROM' | translate }} </label>
                    <div class="input-group">
                        <input class="form-control" id="inputEmail5" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model1" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="material-icons">today</i></button>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputEmail6">{{ 'DELEGATION.TO' | translate }}</label>
                    <div class="input-group">
                        <input class="form-control" id="inputEmail6" placeholder="yyyy-mm-dd" name="da" [(ngModel)]="model2" ngbDatepicker #a="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="a.toggle()" type="button"><i class="material-icons">today</i></button>
                        </div>
                    </div>
                </div>


            </div>

            <button type="submit" class="btn btn-primary btn-lg " (click)="open(content)">{{ 'DELEGATION.SUBMIT' | translate }}</button>
            <hr/>
            <!-- <pre>Model: {{ model1 | json }}</pre>
            <pre>Model: {{ model2 | json }}</pre> -->
        </form>

        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-title">{{ 'DELEGATION.DELEGATE' | translate }}</h4>
                <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
            </div>
            <div class="modal-body">
                <p><strong>Are you sure you want to select <span class="text-primary">"{{box.value}}"</span> as Validator</strong></p>
                <p> from : {{ model1.day }}-{{ model1.month }}-{{ model1.year }} to : {{ model2.day }}-{{ model2.month }}-{{ model2.year }}
                    <span class="text-info">This operation can be changed.</span>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
                <button type="button" class="btn btn-success" (click)="modal.close('Ok click')" routerLink="/home">Ok</button>
            </div>
        </ng-template>


    </div>